## ignore in general
__pycache__/
._.DS_Store
._*
.DS_Store
.ipynb_checkpoints
.lr_find*
test.ipynb
test_2.ipynb
# .devcontainer/

## ignore in esimo
chromedriver_linux64.zip
google-chrome-stable_current_amd64.deb
LICENSE.chromedriver
esimo_loader/dw_folder
esimo_loader/esimo_dw_logger.log
esimo_loader/data.csv


## ignore in parsers
ais_parsers/data

## ignore inputer

input_creator/Q_H

## parent data folder
geo_data/
# ignore logs 
forecast/lightning_logs
forecast/optuna_test
# ignore runs
test_meteo_input/configs
test_meteo_input/runs*

DELETE_ME/

# ignore visualisator helper
visualizations/images
visualizations/recovery
paper_visualisation/

data_builders/test_data

forecast/scripts/data_builders.py

forecast/single_gauge
forecast/single_gauge_8epoch
forecast/single_gauge_level_30epoch
forecast/TFT_914
forecast/TFT_test_run_2gauges

forecast/result/blind_gauge
forecast/result/lost_gauge
forecast/result/tft_single_8epoch
forecast/result/tft_20epoch_256_RMSE
forecast/result/tft_level_multi_256
forecast/result/tft_no_static_20epoch_256_RMSE

forecast/tft_prediction_troubles
forecast/kinda_inference

conceptual_runs/cal_res
conclusions/results

metric_viewer/

neural_forecast/
