## ignore in general
__pycache__/
._.DS_Store
._*
.DS_Store
.ipynb_checkpoints
.lr_find*
.idea
.vscode
init
.github/

## ignore in esimo
chromedriver_linux64.zip
google-chrome-stable_current_amd64.deb
LICENSE.chromedriver
esimo_loader/dw_folder
esimo_loader/chrome_folder
esimo_loader/esimo_dw_logger.log
esimo_loader/data.csv

## parent data folder
data/
data

# dissertation text folder
text/
logs/