## ignore in general
__pycache__/
._.DS_Store
._*
.DS_Store
.ipynb_checkpoints
.lr_find*
test.ipynb
test_2.ipynb

## ignore in esimo
chromedriver_linux64.zip
google-chrome-stable_current_amd64.deb
LICENSE.chromedriver
esimo_loader/dw_folder
esimo_loader/esimo_dw_logger.log
esimo_loader/data.csv


## ignore in parsers
ais_parsers/data

## ignore inputer

input_creator/Q_H

## parent data folder

geo_data/

.devcontainer

forecast/lightning_logs
forecast/optuna_test