# data manipulation
pandas
h5py
numba
xarray
dask
netCDF4
bottleneck
spotpy
lxml
html5lib
xlrd
openpyxl
# geometry packages
shapely
geopandas
descartes
pyepsg
cartopy
rtree
# machine learning
scikit-learn
scipy
shap
neuralhydrology
# cute jupyter
jupyter
ipywidgets
autopep8
pep8
ipykernel
flake8
pyflakes
# visualisation
seaborn
matplotlib
bokeh
yellowbrick
kaleido