# data manipulation
pandas
h5py
numba
xarray
dask
netCDF4
bottleneck
spotpy
# geometry packages
shapely
geopandas
descartes
pyepsg
cartopy
rtree
regionmask
# machine learning
tensorboard
torch_tb_profiler
scikit-learn
scipy
catboost
shap
pytorch-forecasting==0.10.3
neuralhydrology
darts
# cute jupyter
jupyter
ipywidgets==7.
autopep8
pep8
ipykernel
flake8
pyflakes
# visualisation
seaborn
matplotlib
bokeh
yellowbrick
kaleido